@use "../variables" as *;
@use "../mixins" as *;

.end {
    width: 100%;
    min-height: 719px;
    aspect-ratio: 480 / 719;
    position: relative;
    margin-top: 20%;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    // .overlay {
    //     position: absolute;
    //     inset: 0;
    //     background: linear-gradient(
    //         to top,
    //         rgba(255, 255, 255, 0.179) 0%,
    //         rgba(220, 220, 220, 0.252) 50%, /* lớp giữa */
    //         rgb(255, 255, 255) 100%
    //     );
    //     z-index: 1;
    // }

    .text-overlay {
        position: absolute;
        width: 100%;
        right: 50%;
        top: 28%;
        transform: translateX(50%) translateY(100%) rotate(90deg) ;
        z-index: 2;
        font-size: 2em;
        color: #2d8a8ae6;
        letter-spacing: 4.5px;
    }
}