@use "../variables" as *;
@use "../mixins" as *;

.end {
    width: 100%;
    height: 725px;
    aspect-ratio: 480 / 725;
    position: relative;
    margin-top: 20%;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    // .overlay {
    //     position: absolute;
    //     inset: 0;
    //     background: linear-gradient(
    //         to top,
    //         rgba(255, 255, 255, 0.179) 0%,
    //         rgba(220, 220, 220, 0.252) 50%, /* lớp giữa */
    //         rgb(255, 255, 255) 100%
    //     );
    //     z-index: 1;
    // }

    .text-overlay {
        color: #2d8a8ae6;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%) rotate(90deg);
        font-size: 1.7em;
        letter-spacing: 3px;
        text-align: center;
        white-space: nowrap; /* tránh xuống dòng */
    }

    .text-overlay.en {
        top: 22%;
    }

    .text-overlay.vi {
        top: 20%;
    }
}