@use "../variables" as *;
@use "../mixins" as *;

.wedding-info {
    text-align: center;
    .subtext {
        font-family: $font-svn-gothamlight;
        text-transform: uppercase;
        font-size: 0.67em;
        line-height: 1.5;
    }   
    .venue {
        padding: 10% 0;
        h4 {
            font-family: $font-svn-gothamlight;
            text-transform: uppercase;
            font-weight: 300;
            font-size: 0.67em;
        }

        h2.venue-name {
            font-family: $font-svn-gotham;
            font-size: 2em;
            text-transform: uppercase;
        }

        p.venue-address {
            font-family: $font-svn-gothamlight;
            text-transform: uppercase;
            font-weight: 300;
            font-size: 0.67em;
            padding: 5px 0 10px;
        }

        .btn-map {
            font-family: $font-svn-gothamlight;
            font-size: .8em;
            text-decoration: none;
            color: $primary-color;
            border: solid 1px $primary-color;
            padding: 4px 20%;
            border-radius: 15px;
            text-transform: uppercase;

            &:hover {
                background-color: $primary-color;
                color: #ffffff;
                transition: .8s ease;
            }
        }
    }

    .date-time {
        h2 {
            font-size: 2.5em;
            font-weight: 300;
            padding: 20% 0 5%;
        }

        .timeline {
            display: flex;
            justify-content: center;
            min-height: 130px;
            padding-bottom: 20%;

            .timeline-item {
                flex: 1;
                flex-grow: 5px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                position: relative;
                padding: 2%;

                .title {
                    min-height: 50px;
                    @include flex-center;
                    font-size: .85em;
                }
                
                .hour {
                    font-size: .85em;
                }

                .dot-icon-box {
                    @include flex-center;
                    min-height: 25px;

                    .dot-icon {
                        width: 8.6px;
                        height: 8.6px;
                        border-radius: 50px;
                        background-color: $primary-color;
                        position: relative;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        width:100%;
                        height: 2px;
                        background: $primary-color;
                        z-index: 1;
                        transform: translateX(50%);
                    }
                }

                &:nth-child(4) {
                    .dot-icon-box {
                        &::after {
                            display: none;
                        }
                    }
                }

                .image-icon {
                    margin: 0 auto;
                    width: 50%;
                    height: 60px;
                    @include flex-center;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }

    @media (max-width: 480px) {
        .subtext {
            font-size: 2.4vw;
        }  
        .venue {
            h4 {
                font-size: 2.4vw;
            }
    
            h2.venue-name {
                font-size: 6.5vw;
            }
    
            p.venue-address {
                font-size: 2.2vw;
            }
        }

        .date-time {
            h2 {
                font-size: 12vw;
            }

            .timeline {
                .timeline-item {
                    .title {
                        font-size: 3vw;
                    }
                    .hour {
                        font-size: 3vw;
                    }
                    .dot-icon-box {
                        .dot-icon {
                            width: 2vw;
                            height: 2vw;
                        }
                    }
                }


            }

        }
    }
}