@use "variables" as *;
@use "mixins" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-main;
    font-weight: 300;
    background: $bg-color;
    color: $primary-color;
    @include flex-center;
}

.container {
    background-color: #fff;
    position: relative;
    max-width:480px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: $shadow-default;
}
