@font-face {
    font-family: "1FTV-BLUSHING-ROSE";
    src: url("../../assets/fonts/1FTV-BLUSHING-ROSE.TTF") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SVN-AARON-SCRIPT";
    src: url("../../assets/fonts/SVN-AARON-SCRIPT.OTF") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SVN-Gotham";
    src: url("../../assets/fonts/SVN-Gotham.woff2") format("woff2"), url("../../assets/fonts/SVN-Gotham.woff") format("woff"), ;
    font-weight: normal;
    font-style: normal;
} 

@font-face {
    font-family: "SVN-GothamLight";
    src: url("../../assets/fonts/SVN-GothamLight.woff2") format("woff2"), url("../../assets/fonts/SVN-GothamLight.woff") format("woff"), ;
    font-weight: normal;
    font-style: normal;
} 

