$shadow-default: 0 10px 30px rgba(0, 0, 0, 0.25);
$radius: 14px;

// Colors
$primary-color: #5d8ba4;
$bg-color: #ffffff;

// Font
$font-hero: '1FTV-BLUSHING-ROSE', sans-serif;
$font-main: 'SVN-AARON-SCRIPT', sans-serif;
$font-svn-gotham: "SVN-Gotham", sans-serif;
$font-svn-gothamlight: "SVN-GothamLight", sans-serif;

// Animation
$duration-fast: 0.5s;
$duration-slow: 1.2s;
